@import "tailwindcss";

@font-face {
  font-family: 'BagnardSans';
  src: url('/fonts/BagnardSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/fonts/YoungSerif-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/fonts/YoungSerif-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/fonts/YoungSerif-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/fonts/YoungSerif-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/fonts/YoungSerif-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/fonts/YoungSerif-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/fonts/YoungSerif-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/fonts/YoungSerif-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-space-cadet: #1a1a1a;
  --color-goldenrod: #87CEEB;
  --color-pink-lavender: #B0E0E6;
  --color-natural-white: #fefefe;
  --font-bagnard: 'BagnardSans', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-young-serif: 'YoungSerif', serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
